.xiangqing{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #ccc;
}
.header{
    height: 45px;
    background: #666;
    display: flex;

    position: relative;
    width: 100%;
}
.left{
    position: absolute;
    top:0;
    left: 20px;
    line-height: 45px;
}
.title{
    width: 100%;
    text-align: center;
    line-height: 45px;
}
.right{
    position: absolute;
    right: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 12px;
    border: 1px solid #000;
}

.section>ul{
    background: #eee;
    display: flex;
    line-height: 45px;
    text-align: center;
}
.section>ul>li{
    flex: 1;
}
.boxs{
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top:50px;
    left: 5%;
    padding: 10px;
    border-radius:20px;
    background: #fff;  
}
.ind_box{
    width: 90%; 
    margin: 0 auto;
    position: absolute;
    top:40%;
    left: 5%;
    padding: 10px 0 0 0;
    border-radius:20px;
    background: #fff;
    line-height: 35px;
    text-align: center;
}
.ind_box span{
    line-height: 45px;
    display: block;
    color: blue;
    border-top: 1px solid #ccc;
}
